#
# Copyright (c) Arduino s.r.l. and/or its affiliated companies
#
# SPDX-License-Identifier: Apache-2.0
#

config PINCTRL
	select PINCTRL_NON_STATIC

config USB_CONFIGURATION_STRING_DESC
	default "$(APP_VERSION_EXTENDED_STRING)"


config LLEXT_HEAP_REGION
	string "LLEXT heap memory region"
	depends on CODE_DATA_RELOCATION
	help
	  Specify the memory region for LLEXT heap.

config MAIN_STACK_REGION
	string "Main stack memory region"
	depends on CODE_DATA_RELOCATION
	help
	  Specify the memory region for main stack.

menu "Flash Padding Options"

choice FLASH_PADDING_STRATEGY
    prompt "Flash padding strategy"
    optional
    depends on !LINKER_LAST_SECTION_ID
	 depends on !MCUBOOT
    help
      Select how the firmware image is padded. Requires CONFIG_LINKER_LAST_SECTION_ID=n.

config FLASH_ALIGN_BASED_ON_DT_ERASE_DIM
    bool "Align based on Devicetree erase block size"

config CUSTOM_FLASH_ALIGN_ACTIVE
    bool "Align to a custom dimension"

endchoice

config CUSTOM_FLASH_ALIGN
    int "Custom flash alignment boundary"
    depends on CUSTOM_FLASH_ALIGN_ACTIVE
    default 1024
    help
      The dimension to align the padding to, disregarding the Devicetree block size.

endmenu

source "Kconfig.zephyr"
